<div class="bg-[#cc925e]">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <div *ngFor="let product of products" class="group">
        <img [src]="product.image" alt="{{ product.name }}" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
        <h3 class="mt-4 text-sm text-[#26360c]">{{ product.name }}</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">{{ product.price }} Dhs</p>

        <div class="description">
          <p class="text-sm text-[#26360c] text-center">{{ product.description }}</p>
        </div>

        <!-- Section des étoiles -->
        <div class="rating flex">
          <span *ngFor="let star of stars; let starIndex = index"
                [class.filled]="starIndex < product.rating"
                (click)="rateProduct(product, starIndex + 1)"
                class="cursor-pointer text-xl">
              ★
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
