<!-- component -->
<section class="text-gray-600 body-font relative h-screen">
  <div class="absolute inset-0 bg-gray-300">
    <iframe 
      class="w-full h-full" 
      frameborder="0" 
      marginheight="0" 
      marginwidth="0" 
      title="map" 
      scrolling="no"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.564898056048!2d-7.644718484791011!3d33.58848528073652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d35fd182d17d%3A0xfdda5310d49696bc!2sRoom%2021!5e0!3m2!1sen!2sma!4v1707580000000">
    </iframe>
  </div>
  <div class="container px-5 py-24 mx-auto flex"></div>
</section>