<!-- component -->
<section class="text-gray-600 body-font relative h-screen">
    <div class="absolute inset-0 bg-gray-300">
      <iframe 
        class="w-full h-full" 
        frameborder="0" 
        marginheight="0" 
        marginwidth="0" 
        title="map" 
        scrolling="no"
        src="https://www.google.com/maps/place/Room+21/@33.5884853,-7.6447185,17z/data=!3m1!4b1!4m6!3m5!1s0xda7d35fd182d17d:0xfdda5310d49696bc!8m2!3d33.5884809!4d-7.6398476!16s%2Fg%2F11v0rjy8m4?hl=en&entry=ttu&g_ep=EgoyMDI1MDIwNS4xIKXMDSoASAFQAw%3D%3D">
      </iframe>
    </div>
    <div class="container px-5 py-24 mx-auto flex"></div>
</section>
