<div class="landing-page">
  <div class="content">
    <h2>The Best <span>ROOM</span> For You</h2>
    <p>Venez savourer une expérience gourmande dans notre café-restaurant où se mêlent saveurs raffinées et ambiance chaleureuse. Que vous soyez amateur de café, de boissons fraîches ou de délicieuses pâtisseries, ROOM 21 est l'endroit idéal pour une pause bien méritée, entre amis ou lors de vos moments de détente. Découvrez notre menu varié, conçu pour satisfaire toutes vos envies !</p>
  </div>
  <div class="slideshow-container">
    <div class="left-slideshow">
      <div class="slide" *ngFor="let image of leftImages; let i = index" >
        <img [src]="image" alt="Left Image" />
      </div>
    </div>
    <div class="right-slideshow">
      <div class="slide" *ngFor="let image of rightImages; let i = index">
        <img [src]="image" alt="Right Image" />
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="logo.jpg" alt="Logo" class="logo-img" />
  </div>
</div>  





<div class="favoris-client">
  <h2>Favoris <br> des Clients</h2>
  <div class="produits">
    <div class="product-card" *ngFor="let product of products; let i = index">
      <!-- Sticker "New" pour le 1er et le 3ème produit -->
      <div class="sticker" *ngIf="i === 0 || i === 2">New</div>

      <!-- Image du produit avec description en superposition -->
      <div class="image-container" 
           (mouseenter)="product.showDescription = true" 
           (mouseleave)="product.showDescription = false">
        <img [src]="product.image" [alt]="product.name" />
        <div class="description-overlay" *ngIf="product.showDescription">
          {{ product.description }}
        </div>
      </div>

      <!-- Nom du produit -->
      <h3>{{ product.name }}</h3>

      <!-- Prix, étoiles et possibilité de sélection -->
      <div class="price-info">
        <p class="price">{{ product.price }}</p>
        <!-- Étoiles d'avis -->
        <div class="rating">
          <span *ngFor="let star of stars; let starIndex = index" 
                [class.filled]="starIndex < product.rating" 
                (click)="rateProduct(product, starIndex + 1)">
            ★
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
