<div class="bg-[#cc925e]">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Products</h2>
  
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <a href="#" class="group">
          <img src="https://i.pinimg.com/736x/da/54/b6/da54b697ac3ea5e651b57a1dce9cdaf2.jpg" alt="Jus de fraise" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de fraise – Doux, fruité, sucré</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">48 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/736x/0c/c2/90/0cc290b8c36387c0b602d373e6f53cf9.jpg" alt="Jus de citron" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de citron – Acidulé, rafraîchissant, vibrant</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/736x/80/60/e7/8060e7d97935a9142fd8461b36fe586e.jpg" alt="Jus d'orange" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus d'orange – Juteux, sucré, vivifiant</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/02/9d/d4/029dd4c838335415d9d77b53784e7032.jpg" alt="Jus de pomme" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de pomme – Sucré, frais, léger</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/49/c5/96/49c5969e6055667f584ecc1a22803c83.jpg" alt="Jus de mangue" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de mangue – Exotique, sucré, crémeux</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/b9/50/09/b95009a9fbb0f72eff83def830f9e3c5.jpg" alt="Jus de raisin" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de raisin – Doux, fruité, riche</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/736x/98/f5/db/98f5dbf3a275db39e6b7dcaf5e021cfb.jpg" alt="Jus de pastèque" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de pastèque – Délivrant, frais, sucré</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/0f/20/88/0f20885e313e7cd9c1d4aff1adb96f82.jpg" alt="Jus de carotte" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de carotte – Légèrement sucré, vitaminé</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/a4/30/8a/a4308ab90348b6f56ac00c96fc41d90e.jpg" alt="Jus de grenade" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de grenade – Acidulé, fruité, énergisant</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/b3/51/7a/b3517ab8aba154fafb1fbb7c70fbf8df.jpg" alt="Jus de concombre" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de concombre – Légèrement frais, léger</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/2d/9b/33/2d9b33b919c92306abe69ddf84a41ff4.jpg" alt="Jus d'ananas" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus d'ananas – Tropical, sucré, rafraîchissant</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/474x/33/62/d7/3362d76d0093245ee7707d1a96b37c4a.jpg" alt="Jus de pamplemousse" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de pamplemousse – Acidulé, vif, rafraîchissant</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">40 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/736x/7c/75/01/7c750131cf5ee7dd143ce927f3294928.jpg" alt="Jus de kiwi" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de kiwi – Acidulé, sucré, vibrant</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
        <a href="#" class="group">
          <img src="https://i.pinimg.com/736x/6d/e3/0a/6de30a362ab24f4a36948d45e2220a72.jpg" alt="Jus de cerise" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-[#26360c]">Jus de cerise – Doux, sucré, fruité</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">35 Dhs</p>
        </a>
      </div>
    </div>
  </div>
  